.main-h1{
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 90; 
    left: 14.8rem; 
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:768px){
    .main-h1{
        margin-top: -3rem;
        margin-left: -13rem;
    
    }
 }