section{
    display: block
}
.footer{
    color: #fff;
    height: 120px;
    background-color: #000;
    align-items: center;
}
.main{
    max-width: 1024px;
    margin: auto;
    flex: 1 1;
    padding: 15px 20px;
    font-family: Roboto,sans-serif!important;

}
