nav{
    transform: translateY(80px);
    margin-top: -80px;
}
.nav_items{
    background-color: transparent;
    border: none;
    height: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin:10px;
    padding: 7px 15rem;

    
   
}
.link-gap{
    padding: 0px 5px  !important;
   
   
}
.nav_item--left{
margin-right: auto;
text-decoration: none;
color:#fff;
}
.nav_item-logo{
    width: 40px;
    height: 40px;
}
.headr-cnter{
    background-color: #000000;
       overflow: hidden;
      /* padding: 5px 180px; */

      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
}
.nav_item-link{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    /* font-weight: 700; */
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 40px;
}
.nav_item-link:hover{
color: #898b8a;
}
.active{
    color: #fbf7f0;
}
@media screen and (max-width:768px){
    .nav_items{
        /* margin-right:'40px'; */
        /* background-color: tomato; */
        text-align: center;
        padding:5px -10px;
        display: inline;
        /* display: grid;
    grid-template-columns: 1fr 2fr ;
    column-gap: 2rem; */

    }
    .nav_items .link-gap{
        margin-right: 45px;
    }

}

/* @media screen and (max-width:992px){
    .nav_items{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
} */